html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', arial, sans-serif;
  color: #404040;
  margin:0px;
  height: calc(100% - 100vh);
}

#intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.intro-name {
  font-size: 56px;
  text-align: center;
  color: #205469;
}

.intro-description {
  font-size: 24px;
  background: linear-gradient(to top,#6EA0B5 25%,transparent 25%)
}

.intro-arrow-wrapper {
  position: absolute;
  bottom: 30px;
}

.intro-arrow {
  font-size: 40px;
  color: #205469;
}

#about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #6EA0B5;
}

.about-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 30px;
  margin-top: 10vh;
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;
}

.about-title {
  text-align: center;
}

.about-links {
  display: flex;
  justify-content: space-around;
}

.about-links a:hover {
  color:#205469;
}

.about-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #404040;
}

.about-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #205469;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.about-description a {
  text-decoration: none;
  pointer-events: auto !important;
  cursor: pointer !important;
  color: #404040;
  background: linear-gradient(to top,#205469 15%,transparent 15%)
}

.about-description a:hover, .about-description a:active {
  color:#205469;
}

#projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #404040;
}

.projects-title {
  font-size: 48px;
  color: #205469;
  margin-top: 10vh;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.project-image-wrapper {
  margin: 30px;
}

.project-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 30px;
}

.project-text a {
  text-decoration: none;
  pointer-events: auto !important;
  cursor: pointer !important;
  color: #404040;
  background: linear-gradient(to top,#205469 15%,transparent 15%)
}

.project-text a:hover, #about a:active {
  color:#205469;
}

.project-name {
  font-size: 32px;
}

.project-divider {
  width: 300px;
  height: 5px;
  background-color: #6EA0B5;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.footer-text {
  color: #205469;
  margin-right: 10vw;
  height: fit-content;
  background: linear-gradient(to top,#6EA0B5 25%,transparent 25%)
}

/* .animate-link{
  position: relative;
}
.animate-link:after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  right: 0;
  background: #3891B5;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.animate-link:hover:after{
  width: 100%;
  left: 0;
  background: #3891B5;
} */
