body{
  font-family: 'Lato', arial, sans-serif;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:0px;
}

a {
  text-decoration: none;
  color: #6EA0B5; /* link color */
  pointer-events: auto !important;
  cursor: pointer !important;
}

a:hover, a:active {
  color:#3891B5; /* highlight color */
}

.animate-link{
  position: relative;
}
.animate-link:after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  right: 0;
  background: #3891B5;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.animate-link:hover:after{
  width: 100%;
  left: 0;
  background: #3891B5;
}

.header{
  display: flex;
  width: 100%;
  background-image: url("../images/header-image.png");
  padding-bottom: 5vh;
  padding-top: 2vh;
}

.nav{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
}

.nav-name-wrapper{ 
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .nav-name-wrapper {
    text-align: center;
  }
}

.nav-name {
  font-size: 56px;
  color: #205469; /* base color */
  text-decoration: bold;
  flex: 3;
}

@media only screen and (max-width: 768px) {
  .nav-name {
    font-size: 32px;
  }
}

.nav-description {
  margin: 0;
  font-family: 'Merriweather', arial, sans-serif;
}

@media only screen and (max-width: 768px) {
  .nav-description {
    font-size: 12px;
  }
}

.nav-links-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .nav-links-wrapper {
    font-size: 12px;
  }
}

.main {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  /*flex: 1;*/
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

.left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image {
    width: 50%;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .bio-image {
     margin-top: 5vw;
  }
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  /*justify-content: center;*/
  margin-left: 5%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .right-wrapper {
    margin-left: 0;
    flex: 1;
  }
}

@media only screen and (max-width: 768px) {
  .bio-name {
    text-align: center;
  }
}

.bio-description {
  font-family: 'Merriweather', arial, sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-image: url("../images/header-image.png");
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: 60px;
  }
}

.footer-links-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.footer-note {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.footer-name {
  color: #205469; /* base color */
}