@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

a {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}