// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

// COLORS --------------------------------------------------------------------------------
$holo: linear-gradient(336deg, rgba(242,97,255,1) 0%, rgba(86,245,255,1) 100%);
$bg: #313639;
$white-100: #ffffff;
$white-30: #ffffff30;
$accent: #ffe066;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Proxima Nova', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  width: 100%;
  background-color: $bg;
  color: $white-100;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $white-30;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $accent;    /* color of the scroll thumb */
  border-radius: 3em;       /* roundness of the scroll thumb */
  border: 2px solid $white-30;  /* creates padding around scroll thumb */
}

a {
  color: $white-100;
}

p a {
  &:hover {
    @extend .holo-text;
  }
}

::selection {
  color: $bg;
  background: $accent;
}

::-moz-selection {
  color: $bg;
  background: $white-100;
}

#customCursor {
  width: 50px;
  height: 50px;
  background-color: gray;
  opacity: 0.5;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
}

.logo {
  font-family: 'PT Serif';
  font-weight: bold;
  font-style: italic;
  font-size: 2em;
  margin-bottom: 1em;
}

#nav-container {
  z-index: 1;
  position: fixed;
  padding: 1em;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $white-100;
    width: fit-content;
    height: fit-content;
  }
}

.nav-items {
  display: flex;
}

.nav-bar {
  width: 2px;
  border-radius: 100px;
  background-color: $white-30;
  height: 200px;
  margin-right: 0.5em;
}

.nav-list {
  font-family: 'PT Serif';
  font-style: italic;
  color: $white-30;
}

.nav-active {
  background: $holo;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold !important;
  user-select: none;
}

#social-container {
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: $white-30;
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
  }
}

#ps-container {
  position: absolute;
  bottom: 2em;
}

#backToTop-container {
  z-index: 1;
  position: fixed;
  right: 1em;
  bottom: 0;
  padding: 1em;
  color: $white-30;

  &:hover {
    cursor: pointer;
  }
}

#featured {
  // background: $holo;
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  // background: $accent;
  // box-shadow: 0px 0px 32px rgba(255, 224, 102, 0.5);
  // padding: 1em;
  border-radius: 1em;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 192px 229px;
  position: relative;
}

// Used for project page titles
h1 {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  width: fit-content;

  @extend .holo-text;
}

// Used for section headings
h2 {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  width: fit-content;
}

.holo-text {
  background: $holo;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

// Used for default body text
p {
  font-size: 14px;
  line-height: 20px;
}

section {
  margin-bottom: 8em;
}

.wide {
  margin-left: -4em;
  margin-right: -4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
}

// Utility classes --------------------------------------------------------------------------------
.col-25 {
  width: 25%;
}

.col-35 {
  width: 35%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.m-0 {
  margin: 0px;
}

.mt-64 {
  margin-top: 4em;
}

.mb-32 {
  margin-bottom: 2em;
}

.mb-64 {
  margin-bottom: 4em;
}

.mb-0 {
  margin-bottom: 0px;
}

.uppercase {
  text-transform: uppercase;
}

// ----------------------------

.intro {
  display: flex;
  align-items: center;
}

.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12em;
}

.avatar {
  width: 6em;
  height: 6em;
  position: absolute;
}

.avatar-ring {
  width: 6.3em;
  height: 6.3em;
  background: transparent;
  position: absolute;
  border: double 2px transparent;
  border-radius: 50%;
  background-image: linear-gradient($bg, $bg), radial-gradient(circle at top left, rgba(242,97,255,1), rgba(86,245,255,1));
  // background-color: $accent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
}

.project {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current {
  width: .8em;
  height: .8em;
  border-radius: 1em;
  background-color: $accent;
  display: inline-block;
  margin-right: .5em;
}

.project-button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.project-button {
  font-family: 'Montserrat', 'Proxima Nova', sans-serif;
  font-weight: bold;
  background: $bg;
  padding: 16px 32px;
  text-transform: uppercase;
  color: $white-100;

  // Holograph border
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: $holo;

  &:hover {
    background: $holo;
  }
}

.background-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.multi-image {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .image-container {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.multi-image-vertical {
  display: flex;
  flex-direction: column;

  .image-container {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.image-container {
  // background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
  flex: 1;
  display: flex;
  flex-direction: column;
  height: fit-content;

  &.nb {
    border: none;
    box-shadow: none;
    border-radius: none;
    overflow: unset;
  }
}

.persona-container {
  background: $white-30;
  border: 1px solid #000000;
  border-radius: 1em;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
  padding: 3em 2em;
  flex: 1;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

.persona-top {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.persona-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1em;
}

.persona-bottom {
  display: flex;
}

.persona-timeline {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  position: relative;
  flex: none;
  justify-content: space-between;
}

.persona-line {
  width: 1px;
  background: $white-100;
  position: absolute;
  height: calc(100% - 3em);
  margin-top: 3em;
}

.persona-dot {
  width: 0.8em;
  height: 0.8em;
  background: $white-100;
  border-radius: 50%;
  margin-top: 3em;
}

.persona-findings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.persona-finding {
  margin-bottom: 0px;
  margin-top: 3em;
}

.insight-container {
  background: $white-30;
  border: 1px solid #000000;
  border-radius: 1em;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
  padding: 3em 2em;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

.insight-number {
  color:rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 2em;
}

.bottom-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  #customCursor {
    display: none;
  }

  .container {
    padding: 6em 4em;
  }

  .nav-items {
    display: none;
  }

  .avatar-container {
    display: none;
  }

  .col-25, .col-35, .col-50, .col-60, .col-70, .col-80 {
    width: 100%;
  }
  
  section {
    margin-bottom: 64px;
  }

  .project {
    flex-direction: column;
  }

  .project-button-container {
    justify-content: flex-start;
  }

  .wide {
    flex-direction: column;
    margin: unset;
  }

  .stack {
    text-align: unset;
    align-items: unset;
    align-self: unset;
  }

  .multi-image {
    flex-direction: column;

    .image-container {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
  }

  .persona-container, .insight-container {
    margin-bottom: 2em;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
}
