// COLORS --------------------------------------------------------------------------------
$bg: #fff;
$primaryFont: #333;
$blue: #62AFF6;
$yellow: #FFC04F;
$box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.02);
$gray: #B6B5B5;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $primaryFont;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: $blue;
  text-decoration: none;
}

.overlay {
  display: none;
  width: 0;
  height: 0;
  z-index: 2;
}

.overlay.open {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in;
}

.active {
  color: $blue;
}

.deemphasized {
  color: $gray;
}

::selection {
  color: $bg;
  background: $blue;
}

::-moz-selection {
  color: $bg;
  background: $primaryFont;
}

#customCursor {
  width: 50px;
  height: 50px;
  background-color: gray;
  opacity: 0.5;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(64px + 6%); // 6% = 3% (nav bar margin) * 2
  position: relative;
  margin: auto;
  background: #F9F8F8;
  min-height: 100vh;
}

.nav {
  position: fixed;
  // backdrop-filter: blur(10px);
  width: 60%;
  margin: 3% 20%; // second margin value*2  + width must = 100%
  height: 64px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.781);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  z-index: 99;
}

.nav a {
  color: $primaryFont;
  text-decoration: none;
}

.logo {
  font-weight: bold;
  position: absolute;
  left: 64px;
}

.nav-links {
  position: absolute;
  right: 64px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10vh;
    margin-top: 0;
    padding: 4vh 0;

    justify-content: start;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links.open {
    background-color: $bg;
    z-index: 100;
    transform: translateX(0%);
    display: flex;
    border-radius: 16px;
  }

  .nav-links a {
    margin: 8px 0;
  }

  .burger {
    display: flex;
    position: absolute;
    right: 32px;
    justify-content: center;
    align-items: center;
    // width: 80%;
    height: 50%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    // border: 3px solid black;
  }

  .burger-line {
    width: 30px;
    height: 4px;
    background: $primaryFont;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .burger.open {
    .burger-line, .burger-line::before, .burger-line::after {
      background: $blue;
    }
  }

  .burger-line::before, .burger-line::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: $primaryFont;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .burger-line::before {
    transform: translateY(-8px);
  }

  .burger-line::after {
    transform: translateY(8px);
  }

  // ANIMATION
  .burger.open .burger-line {
    transform: translateX(-50px);
    background: transparent;
  }

  .burger.open .burger-line::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .burger.open .burger-line::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48px;
  margin:auto;
  padding: 2em 0;
  text-align: center;
}

.socials-container {
  margin-top: 16px;
  display: flex;
  width: 25%;
  justify-content: space-between;

  a {
    font-size: 2em;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
  }
}

#backToTop-container {
  z-index: 1;
  position: fixed;
  right: 1em;
  bottom: 0;
  padding: 1em;
  font-size: 2em;
  color: $blue;

  &:hover {
    cursor: pointer;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: auto;
}

.text-center {
  text-align: center;
}

// Used for project page titles
h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 24px 0;
}

// Used for section headings
h2 {
  font-weight: bold;
  font-size: 28px;
  margin: 32px 0;
}

// Standard-level headings
h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

// Gray subtitle text
h4 {
  color: $gray;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

// Used for default body text
p {
  font-size: 18px;
  margin: 0;
}

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  margin: 6px 0;
}

.fs-med { // font-size medium
  font-size: 1.1em;
}

.a-60 { // alpha 60
  opacity: 0.6;
}

section {
  margin: 3em 0;
  width: 100%;
}

.wide {
  margin-left: -4em;
  margin-right: -4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

.card {
  border-radius: 16px;
  background-color: white;
  box-shadow: $box-shadow;
  overflow:hidden;
}

.card-content {
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.other-companies-card-content {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.places-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.place-tile {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-bottom: 32px;
}

.place-image {
  object-fit: cover;
  height: 40%;
}

.place-content {
  padding: 32px;
}

// Utility classes --------------------------------------------------------------------------------
.col-25 {
  width: 25%;
}

.col-35 {
  width: 35%;
}

.col-45 {
  width: 45%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.m-0 {
  margin: 0px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-8em {
  margin-right: 8em;
}

.mt-0 {
  margin-top: 0px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-64 {
  margin-top: 4em;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 2em;
}

.mb-64 {
  margin-bottom: 4em;
}

.uppercase {
  text-transform: uppercase;
}

.p-32 {
  padding: 2em;
}

// ----------------------------

.avatar {
  width: 6em;
  height: 6em;
  border-radius: 6em;
  object-fit: cover;
}

.about {
  display: flex;
}

.about-image-container {
  flex: 1;
  display: flex;

  img {
    object-fit:cover;
  }
}

.project {
  width: 100%;
  display: flex;
  height: 320px;
  margin: 0;
  margin-bottom: 64px;
}

.project-image-container {
  flex: 1;
  background-color: $primaryFont;
  align-items: center;
  justify-content: center;
  display: flex;
}

.project-image {
  max-width: 60%;
  max-height: 80%;
  transition: all 0.5s ease;
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.6));
    -webkit-filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.6));
  }
}

.project-content {
  flex: 1;
}

.resume-image {
  max-width: 50%;
  background-color: transparent;
  margin: 64px 0;
}

.project-link {
  margin-top: 32px;
  color: $blue;
}

.project-button-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.background-facts {
  display: flex;
  justify-content: space-between;
}

.multi-image {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .image-container {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.about-row {
  display: flex;
  flex-direction: row;
}

.multi-image-vertical {
  display: flex;
  flex-direction: column;

  .image-container {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.image-container {
  // background: #FFFFFF;
  // border: 1px solid #000000;
  // border-radius: 1em;
  overflow: hidden;
  box-shadow: $box-shadow;
  flex: 1;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  height: 100%;
  // width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease;

  &.nb {
    border: none;
    box-shadow: none;
    border-radius: none;
    overflow: unset;
  }
}

.image-container > img {
  object-fit: cover;
}

.persona-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: $box-shadow;
  padding: 3em 2em;
  flex: 1;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

.persona-top {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.persona-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1em;
}

.persona-bottom {
  display: flex;
}

.persona-timeline {
  display: flex;
  flex-direction: column;
  width: 64px;
  align-items: center;
  position: relative;
  flex: none;
  justify-content: space-between;
}

.persona-line {
  width: 1px;
  background: $primaryFont;
  position: absolute;
  height: calc(100% - 3em);
  margin-top: 3em;
}

.persona-dot {
  width: 0.5em;
  height: 0.5em;
  background: $primaryFont;
  border-radius: 50%;
  margin-top: 3em;
}

.persona-findings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.persona-finding {
  margin-bottom: 0px;
  margin-top: 3em;
}

.insight-container {
  box-shadow: $box-shadow;
  padding: 3em 2em;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

.insight-number {
  color:rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 2em;
}

.bottom-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

@media only screen and (max-width: 992px) {
  iframe {
    display: none;
  }

  section {
    margin: 2em 0;
    width: 100%;
  }

  .nav {
    width: calc(100% - 4em);
    margin:2em;

    .logo {
      left: 32px;
    }
  }

  .card-content {
    padding: 32px;
    width: 80%;
  }

  .socials-container {
    width: 50%;
  }

  #customCursor {
    display: none;
  }

  .container {
    padding: 6em 2em;
  }

  .col-35, .col-50, .col-60, .col-70 {
    width: 100%;
  }

  .project-container {
    width: 100%;
  }

  .project {
    height: unset;
    flex-direction: column;
    margin: 32px 0;

    .project-image-container {
      padding: 2em 0;
    }

    img {
      max-height: 50%;
      max-width: 50%;
    }
  }

  .avatar {
    height: 3em;
    width: 3em;
  }

  .bottom-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .wide, .row {
    flex-direction: column;
    // margin: unset;
  }

  .multi-image {
    flex-direction: column;

    .image-container {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
  }

  .persona-container, .insight-container {
    margin-bottom: 2em;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  .mt-64 {
    margin-top: 16px;
  }

  .background-facts {
    flex-direction: column;
    justify-content: flex-start;

    > div {
      margin-top: 32px;
    }
  }

  .resume-image {
    max-width:unset;
    width: 100%;
    margin: 32px 0;
  }

  .place-tile {
    width: 100%;

    .place-image {
      height: 80%;
    }

    .place-content {
      padding: 24px;
    }
  }

  #backToTop-container {
    display: none;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

}